.svg-icon {
    height: 1em;
    width: 1em;
}

div.caution {
    border: 1px solid peru;
}

div.caution p.admonition-title {
    font-size: 1.2em;
    color: ivory;
    background-color: orange;
    border-bottom-color: peru;
}

div.admonition-rfc {
    border: 1px solid purple;
}

div.admonition-rfc p.admonition-title {
    color: ivory;
    background-color: purple;
    border-bottom-color: purple;
}

div.admonition-fixme {
    border: 1px solid red;
}

div.admonition-fixme p.admonition-title {
    color: ivory;
    background-color: red;
    border-bottom-color: red;
}
